{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "react",
    "next/babel"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ]
  ]
}
