{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "9.3.0"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ]
  ]
}
